h1 {
  margin-top: 3.5%;
  color: #0261b4;
  font-weight: bold;
}

.container {
  margin-top: 3%;
  border-color: #0261b4;
}

.card {
  padding-left: 0;
  padding-right: 0;
  margin-top: 2%;
  max-width: 250px;
}

.card-body {
  height: 110px;
}

h5 {
  color: #646464;
  font-weight: bold;
}

option {
  color: #646464;
}

select {
  color: #646464;
  font-weight: bold;
}

img {
  width: 80%;
}

.porcentagem {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #0261b4;
}

.chart {
  width: 100%;
}
