<h1 class="text-center">Dashboard FORD</h1>

<div class="container-fluid" *ngIf="veiculos$ | async as veiculos">
  <div class="row justify-content-around">
    <div class="card col-3">
      <div class="card-header w-100"><h5>Veículo</h5></div>
      <div class="card-body">
        <select
          class="form-select mt-3"
          type="number"
          [(ngModel)]="veiculoId"
          (ngModelChange)="enviaVeiculoId(veiculoId)"
        >
          <option *ngFor="let veiculo of veiculos" [ngValue]="veiculo.id">
            {{ veiculo.Model }}
          </option>
        </select>
      </div>
    </div>
    <div class="card col-3">
      <div class="card-header"><h5>Total de Vendas</h5></div>
      <h2
        class="text-primary ms-4 mt-3 mb-0"
        *ngIf="veiculoSelecionado; else elseBlock"
      >
        {{ veiculoSelecionado.Volume_Total }}
      </h2>
      <p class="ms-4" *ngIf="veiculoSelecionado; else elseBlock">Unid.</p>
    </div>
    <div class="card col-3">
      <div class="card-header"><h5>Conectados</h5></div>
      <h2
        class="text-primary ms-4 mt-3 mb-0"
        *ngIf="veiculoSelecionado; else elseBlock"
      >
        {{ veiculoSelecionado.Connected }}
      </h2>
      <p class="ms-4" *ngIf="veiculoSelecionado; else elseBlock">Unid.</p>
    </div>
    <div class="card col-3">
      <div class="card-header"><h5>Update Software</h5></div>
      <h2
        class="text-primary ms-4 mt-3 mb-0"
        *ngIf="veiculoSelecionado; else elseBlock"
      >
        {{ veiculoSelecionado.Software_Updates }}
      </h2>
      <p class="ms-4" *ngIf="veiculoSelecionado; else elseBlock">Unid.</p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-2 mb-1">
      <div class="col-12 col-lg-6">
        <img
          class="col-7 mt-4"
          *ngIf="veiculoSelecionado; else elseBlock"
          src="assets/img/{{ veiculoSelecionado.Model }}.png"
          alt="Imagem do modelo escolhido"
        />
      </div>

      <div class="col-12 col-lg-3">
        <div class="card-header text-center">
          <h5>Conectados</h5>
        </div>
        <div class="card-body">
          <div id="chart_1" class="chart"></div>
          <div class="porcentagem text-color">{{ porcentagemChart1 }}%</div>
        </div>
      </div>

      <div class="col-12 col-lg-3">
        <div class="card-header text-center"><h5>Update Software</h5></div>
        <div class="card-body">
          <div id="chart_2" class="chart"></div>
          <div class="porcentagem text-color">{{ porcentagemChart2 }}%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <p></p>
</ng-template>

<app-cabecalho></app-cabecalho>
<app-tabela></app-tabela>
