table {
  position: fixed;
  margin-bottom: 0;
  bottom: 0;
}

thead {
  color: white;
}

input {
  width: 70%;
}

.font-weight {
  font-weight: 450;
}

.th1 {
  width: 25%;
  background-color: #0261b4;
  border: solid thin black;
}

.th2 {
  width: 15%;
  background-color: #0261b4;
  border: solid thin black;
}

td {
  font-weight: 700;
  border-bottom: 0;
}

.tdVazio {
  background-color: #0261b4;
  border: solid thin black;
}

button {
  width: 20px;
  height: 25px;
  border: black solid thin;
  padding: 0;
  margin-left: 2px;
  margin-bottom: 3px;
}
