<div class="position-absolute d-flex flex-row height">
  <div class="d-flex col-md-12 justify-content-center">
    <img
      class="img-fluid d-sm-block align-items-center justify-content-center"
      src="assets/img/Ranger.png"
      alt="Imagem da Ranger vermalha"
    />
  </div>
</div>

<div
  class="position-relative d-flex align-items-center justify-content-center card-div"
>
  <div class="card">
    <div class="card-header">
      <h5>Sistema de dados FORD</h5>
    </div>
    <div class="card-body">
      <h4 class="card-title text-color">Seja bem vindo(a)!</h4>
    </div>
  </div>
</div>

<app-cabecalho></app-cabecalho>
