<nav
  [ngClass]="{ sidebarAtivo: menu }"
  class="position-absolute d-flex flex-row mt-2 sticky-top"
>
  <div class="sidebar">
    <img
      class="logo-ford ms-3 mb-2 mt-2"
      src="assets/img/ford-logo.png"
      alt="Logo da Ford"
    />
    <ul class="list-unstyled list-group list-group-flush mt-2 mb-4">
      <li
        class="list-group-item list-group-item-action"
        (click)="navegaParaHome()"
      >
        Home
      </li>
      <li
        class="list-group-item list-group-item-action"
        (click)="navegaParaDashboard()"
      >
        Dashborad
      </li>
    </ul>
  </div>
  <div class="div-menu ms-2">
    <i class="fa fa-bars menu-icon overlay" (click)="exibeMenu()"></i>
  </div>
</nav>

<div class="div-logout sticky-top mt-2" *ngIf="user$ | async as user">
  <a>{{ user.name }}</a>
  <i class="fa fa-user-circle mx-2 user-icon" (click)="logout()"></i>
</div>
